@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.HomePage {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background: url('../../assets/images/background.jpg') no-repeat;
  background-size: cover;
  padding: 100px 0 50px;
  background-attachment: fixed;
}

@include media-md {
  .HomePage {
    padding-top: 50px;
  }
}