@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin button($width, $color) {
  width: $width;
  padding: 10px 40px;
  background-color: $color;
  border-radius: 5px;
  font-size: 1.1rem;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: darken($color, 5);
  }
}

@mixin input {
  padding: 8px 15px;
  font-size: 1.2rem;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  background: transparent;
  outline: none;

  &:focus {
    border-bottom: 1px solid lighten($orange, 10);
  }
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@mixin media-sm {
  @media screen and (max-width: 576px) {
    @content;
  }
} 

@mixin media-md {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (max-width: 992px) {
        @content;
    }
}