@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.Menu {
  background-color: #19191B;
  padding: 50px;
  width: 100%;

  .Heading h3 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }

  .MenuContainer {
    padding: 30px 0;
    width: 100%;
    @include flex(flex-start, flex-start);
    flex-wrap: wrap;

    .MenuLinks {
      flex: 1 1 100%;

      .MenuLinksButton {
        @include button(auto, transparent);
        border: 1px solid $orange;
        margin: 0 10px;
  
        &:hover {
          background-color: $orange;
          color: #fff;
        }
        
        &.Active {
          background-color: $orange;
          color: #fff;
        }
      }
    }

    .MenuItems {
      flex: 1 1 100%;
      padding-top: 30px;
    }
  }
}

@include media-sm {
  .Menu {
    padding: 20px 10px;

    .MenuContainer {
      .MenuLinks {
        @include flex(center, flex-start);
      }
    }
  }
}