@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.OrderRecieved {
  padding-top: 50px;
  @include flex(flex-start, center);
  flex-direction: column;
  background: url('../../assets/images/background.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;

  .Container {
    width: 80%;
    padding-top: 40px;

    h4 {
      color: #fff;
      font-size: 3rem;
      padding: 10px 0;

      span {
        color: $orange;
        margin-left: 5px;
      }
    }

    p {
      color: #fff;
      font-size: 1.5rem;
    }
  }
}