@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.Register {
  width: 100%;
  padding-top: 50px;
  // background: $secondary-background;
  background: url('../../assets/images/background.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  @include flex(center, flex-start);

  .RegisterForm {
    flex-basis: 50%;
    padding: 30px 50px;
    @include flex(center, flex-start);
    flex-wrap: wrap;

    h3 {
      flex: 1 1 100%;
      color: #fff;
      font-size: 3rem;
      text-align: center;
    }

    form {
      flex: 1 1 100%;
    }

    .Form {
      width: 100%;
      @include flex(center, flex-start);
      flex-wrap: wrap;

      .InputControl {
        width: 70%;
        margin-bottom: 15px;
        @include flex(flex-start, center);
        flex-wrap: wrap;

        label {
          flex: 1 1 100%;
          color: #fff;
          padding: 5px 0;
        }

        input {
          flex: 1 1 100%;
          @include input;
        }

        .ButtonContainer {
          flex: 1 1 100%;
          @include flex(center, flex-start);

          button {
            width: auto;
            padding: 10px 40px;
            background-color: $orange;
            border-radius: 5px;
            font-size: 1.1rem;
            text-transform: uppercase;
            border: none;
            outline: none;
            color: #fff;
            margin-top: 10px;
            cursor: pointer;
  
            &:hover {
              background-color: darken($orange, 5);
            }
  
            &:disabled {
              background-color: #aaa;
            }
          }
        }
      }
    }

    .Loading {
      position: absolute;
      width: 100%;
      height: 100%;
      @include flex(center, center);
    }
  }
}