@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.NavigationItem {
  height: 100%;
  flex-basis: auto;
  @include flex(center, center);

  a {
    height: 100%;
    padding: 0 10px;
    margin: 0 10px;
    @include flex(center, flex-start);
    flex-direction: column;
    color:#fff;
    font-size: 1rem;

    > div {
      @include flex(center, center);

      svg {
        font-size: 1.2rem;
      }

      span {
        font-size: 0.8rem;
      }
    }

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: $orange;
      bottom: 0;
      transition: all 0.2s ease-in;
    }

    &.Active:after {
      width: 100%;
    }
    
    &:hover:after {
      width: 100%;
    }

    &.Button {
      border-radius: 5px;
      border: 1px solid $orange;
      color: #fff;

      &.Active:after {
        width: 0;
      }

      &:hover {
        background-color: $orange;

        &:after {
          width: 0;
        }
      }
    }
  }
}

@include media-md {
  .NavigationItem {
    width: 100%;
    border-top: 1px solid lighten($orange, 30);

    a {
      padding: 5px;

      &.Active:after {
        width: 0;
      }

      &.Button {
        border: none;

        &:hover {
          background: transparent;
        }
      }
    }
  }
}