@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.Contact {
  width: 100%;
  @include flex(flex-start, flex-start);
  background: $secondary-background;
  position: relative;

  .MapContainer {
    flex: 1 1 40%;
  }

  .Container {
    flex: 1 1 60%;
    padding: 0 30px 0 100px;

    h2 {
      color: #fff;
      font-size: 2rem;
      padding-bottom: 10px;
    }

    .Form {
      width: 100%;
      @include flex(flex-start, flex-start);
      flex-wrap: wrap;
      position: relative;

      .Loading {
        position: absolute;
        width: 100%;
        height: 100%;
        @include flex(center, center);
      }
      
      .InputControl {
        position: relative;
        width: 70%;
        margin-bottom: 15px;
        @include flex(flex-start, center);
        flex-wrap: wrap;

        label {
          position: absolute;
          left: 10px;
          top: 5px;
          flex: 1 1 100%;
          color: #fff;
          padding: 5px 0;
          transition: all 0.3s ease-in;
        }

        input:focus + label,
        input:valid + label {
          font-size: 0.7rem;
          top: -15px;
        }

        input {
          flex: 1 1 100%;
          @include input;
        }

        textarea {
          flex: 1 1 100%;
          background: transparent;
          border: 1px solid #fff;
          color: #fff;
          border-radius: 5px;
          padding: 5px 10px;
        }

        .ButtonContainer {
          flex: 1 1 100%;
          @include flex(center, flex-start);

          button {
            @include button(auto, $orange);
            text-transform: uppercase;
            margin-top: 10px;
  
            &:disabled {
              background-color: #aaa;
            }
          }
        }
      }
    }

    .Success {
      width: 70%;
      color: green;
      text-align: center;
    }
    
    .Error {
      text-align: center;
      width: 70%;
      color: $red;
      font-style: italic;
    }
  }
}

@include media-sm {
  .Contact {
    flex-direction: column;

    .MapContainer {
      display: none;
    }

    .Container {
      flex: 1 1 100%;
      padding: 0 30px;

      .Form .InputControl {
        width: 100%;
      }
    }
  }
}

@include media-md {
  .Contact {
    .MapContainer {
      flex: 1 1 50%;
    }

    .Container {
      flex: 1 1 50%;
      padding: 30px;

      .Form .InputControl {
        width: 100%;
      }
    }
  }
}