@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.Header {
  width: 100%;
  background: $background;
  height: 50px;
  @include flex(flex-start, center);
  position: fixed;
  z-index: 100;

  .Logo {
    flex: 1 1 20%;
    height: 100%;
    padding-left: 30px;

    a {
      color: #fff;
      height: 100%;
    }
  }
}