@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.CheckoutSummary {
  flex: 1 1 25%;
  border-radius: 5px;
  background: $secondary-background;
  padding: 10px;
  @include flex(flex-start, flex-start);
  flex-direction: column;

  .OrderButton {
    width: 100%;
    @include flex(center, center);
    padding: 50px 10px 0;

    a {
      @include button(100%, $orange);
      text-align: center;
    }
  }

  .OrderSummary {
    width: 100%;
    @include flex(flex-start, flex-start);
    flex-direction: column;

    .OrderSummaryHeading {
      width: 100%;
      padding: 0 0 10px;

      h5 {
        font-size: 1.5rem;
        color: #fff;
      }
    }

    .OrderSummaryPrice {
      width: 100%;
      padding: 10px 0;

      p {
        color: #fff;
        font-size: 1.2rem;
        padding: 5px 0;
        border-bottom: 1px solid #fff;
      }
    }
  }
}

@include media-md {
  .CheckoutSummary {
    flex: 1 1 30%;

    .OrderSummary .OrderSummaryPrice p {
      font-size: 1rem;
    }
  }
}